@*@model int*@
@*@model web1.Models.SinhVien*@
@*@model List<web1.Models.SinhVien>*@
@*@model List<web1.Models.MayTinh>*@

@{
    // truyền kiểu string or số
    ViewBag.title = "Home";
    ViewBag.Button = "Đăng Nhập";
    // truyền kiểu list
    ViewBag.DanhSachSV = new List<string> { "Nguyễn Văn Giang", "A B C" };
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 1;
    }

@* Truyền vào renderbody*@
<main>
  
</main>

@* truyền vào section 
   Truyền 1 đoạn html *@
@section LienHe{
    <div class="col-lg-3 py-3">
        <h3>Digi<span class="text-primary">Gram.</span></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

        <p><a href="#">digigram@mail.com</a></p>
        <p><a href="#">+00 1122 3344 5566</a></p>
    </div>
}