
@{
    ViewBag.Title = "ThemMoiMT";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<main>
    <div class="page-section features">
        <div class="container">
            <h4>Thêm mới máy tính</h4>
            <form action="~/Home/LuuThongTinMT" method="post">@* or method="get"*@
                <div class="form-group">
                    <label for="email">Mã Máy</label>
                    <input type="text" class="form-control" name="maMay"> @*name phải giống bên action*@
                </div>

                <div class="form-group">
                    <label for="pwd">Dòng Máy:</label>
                    <input type="text" class="form-control" name="dongMay">
                </div>

                <div class="form-group">
                    <label for="pwd">Đơn giá:</label>
                    <input type="number" class="form-control" name="donGia">
                </div>

                <div class="form-group">
                    <label for="pwd">Ngày sản xuất:</label>
                    <input type="date" class="form-control" name="ngaySanXuat">
                </div>

                <div class="form-group">
                    <label for="pwd">hãng Sản Xuất:</label>
                    <input
                           type="text" class="form-control" name="hangSanXuat">
                </div>
                
                <button type="submit" class="btn btn-default">Lưu</button>
            </form>
        </div>
    </div>
</main>
