@{
    ViewBag.Title = "Liên hệ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Hưng yên<br />
        <abbr title="Phone">P:</abbr>
        0869xxx07
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">nvgiang.dhti15a19hn@sv.uneti.edu.vn</a><br />
    </address>
</main>