@model IEnumerable<web1.Models.LoaiBaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 9;
}

<div class="container" style="min-height:60vh; margin:150px auto">
    <div class="row">
        <div class="col-md-12">
            <h5>
                Danh sách bài viết
                <a href="~/LoaiBaiViet/ThemMoi" style="float:right">Thêm mới</a>
            </h5>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>
                Tên
            </th>
            <th>#</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Xoa", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
