<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <button class="row-cols-sm-5 btn-dark"> Button test</button>
    <div>
        @RenderBody()
    </div>
</body>
</html>
