
@{
    ViewBag.Title = "TimSoChinhPhuong";
}

<h2>TimSoChinhPhuong</h2>

@{ Html.BeginForm();}

@Html.Label("Nhập số(cách nhau dấu cách): ")
@Html.TextBox("s")
<input type="submit" value="submit" />

@{ Html.EndForm();}

<h5>@ViewBag.msg</h5>